.main_item{
  width: 500px;
  margin:0 auto;
  position: relative;
}
img{
  width: 500px;
}
.button{
  width: 0px;
    margin: 0 auto;
    position: relative;
    display: flex;
    right: 63px;
    bottom: 83px;
}
button{
  background: transparent;
  cursor: pointer;
  border: none;
}
