.main{
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
button{
  border: none;
  outline: none;
  background: rgb(73, 203, 90);
  padding: 10px;
  border-radius: 10px;
}
#text{
  padding: 10px 0;
  border-radius: 10px;
  outline: none;
}
#font_size{
  padding: 10px 0;
  border-radius: 10px;
  width: 100px;
  outline: none;
}
