.main{
  display: flex;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
}
#triangle{
width: 0;
border-top: 180px solid white;
border-bottom: 180px solid #fc0;
border-left: 140px solid white;
border-right: 140px solid white;
}
#square{
  width: 180px;
  height: 180px;
  background: red;
  margin-left: 100px;
}
#circle{
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background: green;
  margin-left: 100px;
}
.input{
  text-align: center;
}
p{
  font-size: 25px;
}
